In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [3]:
df_2018['시력(좌)'][df_2018['시력(좌)'] == 9.9] = 0.1

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_5860\203197543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['시력(좌)'][df_2018['시력(좌)'] == 9.9] = 0.1

In [4]:
df_2018['시력(우)'][df_2018['시력(우)'] == 9.9] = 0.1

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_5860\3798824859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['시력(우)'][df_2018['시력(우)'] == 9.9] = 0.1

In [5]:
df_2018['시력(우)'].value_counts()

시력(우)
1.0    207365
1.2    187344
1.5    118419
0.9    108421
0.8    100031
0.7     85643
0.6     54395
0.5     52032
0.4     31630
0.3     20434
0.1     13227
0.2     13119
2.0      6948
1.6       327
1.1       174
1.3       155
1.9        26
1.8        17
1.4        12
1.7         9
2.5         6
Name: count, dtype: int64

In [6]:
np.set_printoptions(precision=6, suppress=True)

In [7]:
male = (df_2018['시력(좌)'].value_counts().sort_index() / 10000).round(2).values
male

array([ 1.3 ,  1.24,  2.07,  3.11,  5.34,  5.52,  8.58, 10.04, 10.71,
       20.33,  0.02, 18.88,  0.01,  0.  , 11.98,  0.03,  0.  ,  0.  ,
        0.  ,  0.8 ,  0.  ])

In [8]:
male.index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [9]:
# index값 넣기

male_age = [ '0.2미만', '0.2-0.4', '0.4-0.6', '0.6-0.8', '0.8-1.0', '1.0-1.2', '1.2-1.4',
                '1.4-1.6', '1.6-1.8', '1.8-2.0','2.0이상']
male_pct = [ 1.3 ,  1.24,  2.07,  3.11,  5.34,  5.52,  8.58, 10.04, 10.71,
       20.33,  0.02, 18.88,  0.01,  0.00  , 11.98,  0.03,  0.00  ,  0.00  ,
        0.00  ,  0.8 ,  0.00 ]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'시력_좌': m, '비율': n})
temp_male

[{'시력_좌': '0.2미만', '비율': 1.3},
 {'시력_좌': '0.2-0.4', '비율': 1.24},
 {'시력_좌': '0.4-0.6', '비율': 2.07},
 {'시력_좌': '0.6-0.8', '비율': 3.11},
 {'시력_좌': '0.8-1.0', '비율': 5.34},
 {'시력_좌': '1.0-1.2', '비율': 5.52},
 {'시력_좌': '1.2-1.4', '비율': 8.58},
 {'시력_좌': '1.4-1.6', '비율': 10.04},
 {'시력_좌': '1.6-1.8', '비율': 10.71},
 {'시력_좌': '1.8-2.0', '비율': 20.33},
 {'시력_좌': '2.0이상', '비율': 0.02}]

- 평균 시력 구하기

In [10]:
df_BMI_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['시력(우)'].sum().round(1)
df_BMI_2018=pd.DataFrame(df_BMI_2018)
df_BMI_2018.head(3)

                    시력(우)
연령대코드(5세단위) 성별코드
5           1     10378.3
            2     11543.9
6           1     38804.7

In [11]:
# 각연령대 인원
df_age_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['연령대코드(5세단위)'].count().round(1)
df_age_2018=pd.DataFrame(df_age_2018)
df_age_2018.head(2)

                  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1            9619
            2           11732

In [12]:
df_last = pd.concat([df_BMI_2018,df_age_2018], axis=1)
df_last.head(2)

                    시력(우)  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1     10378.3         9619
            2     11543.9        11732

In [13]:
df_last.reset_index(inplace=True)

ValueError: cannot insert 연령대코드(5세단위), already exists

In [14]:
last=(df_last['시력(우)']/df_last['연령대코드(5세단위)']).round(2)
df_last['평균 시력'] =last
df_last.head(3)

                  성별코드    시력(우)  연령대코드(5세단위)  평균 시력
연령대코드(5세단위) 성별코드
5           1        1  10378.3         9619   1.08
            2        2  11543.9        11732   0.98
6           1        1  38804.7        35523   1.09

In [15]:
filtered_data = df_last[df_last['성별코드'] == 1]['평균 시력'].values
list =[]
for height in filtered_data:
    list.append(height)
print(list)

[1.08, 1.09, 1.11, 1.13, 1.11, 1.05, 1.0, 0.95, 0.88, 0.81, 0.74, 0.67, 0.61, 0.51]

In [17]:
male_age = [ '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
'60~64세', '65~69세', '70~74세', '75~79세','80~84세', '85세+']
male_pct = [1.08, 1.09, 1.11, 1.13, 1.11, 1.05, 1.0, 0.95, 0.88, 0.81, 0.74, 0.67, 0.61, 0.51]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'나이': m, '평균시력': n})
temp_male

[{'나이': '20~24세', '평균시력': 1.08},
 {'나이': '25~29세', '평균시력': 1.09},
 {'나이': '30~34세', '평균시력': 1.11},
 {'나이': '35~39세', '평균시력': 1.13},
 {'나이': '40~44세', '평균시력': 1.11},
 {'나이': '45~49세', '평균시력': 1.05},
 {'나이': '50~54세', '평균시력': 1.0},
 {'나이': '55~59세', '평균시력': 0.95},
 {'나이': '60~64세', '평균시력': 0.88},
 {'나이': '65~69세', '평균시력': 0.81},
 {'나이': '70~74세', '평균시력': 0.74},
 {'나이': '75~79세', '평균시력': 0.67},
 {'나이': '80~84세', '평균시력': 0.61},
 {'나이': '85세+', '평균시력': 0.51}]