In [1]:
import numpy as np 
import pandas as pd

In [2]:
a = 32
b = 1
for i, j in zip(np.arange(20, 100, 5), np.arange(24, 104, 5)):
    if i <= a <= j:
        print(b)
    else:
        b = b + 1

3

In [3]:
{'연령대': 1}['연령대']

1

In [4]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [5]:
np.set_printoptions(precision=6, suppress=True)

In [6]:
# 신장을 구하고싶은 걸 넣기
male = df_2018['체중(5Kg단위)'][df_2018.성별코드==1].value_counts().sum()
female = df_2018['체중(5Kg단위)'][df_2018.성별코드 == 2].value_counts().sum()
male,female

(535600, 464400)

In [7]:
male = (df_2018['체중(5Kg단위)'][df_2018.성별코드==1].value_counts().sort_index() / 5356).round(2).values

female = (df_2018['체중(5Kg단위)'][df_2018.성별코드 == 2].value_counts().sort_index() / 4640.14).round(2)
male

array([ 0.1 ,  0.77,  2.98,  7.13, 13.17, 17.9 , 18.84, 15.15, 10.39,
        6.16,  3.49,  1.91,  1.02,  0.51,  0.26,  0.12,  0.06,  0.02,
        0.01,  0.  ])

In [8]:
male.index

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [ ]:
# index값 넣기
male_age = [ 40,  45,  50,  55,  60,  65,  70,  75,  80,  85,  90,  95, 100, 105,
       110, 115, 120, 125, 130, 135]
male_pct = [ 0.1 ,  0.77,  2.98,  7.13, 13.17, 17.9 , 18.84, 15.15, 10.39,
        6.16,  3.49,  1.91,  1.02,  0.51,  0.26,  0.12,  0.06,  0.02,
        0.01,  0.00    ]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'체중': m, '비율': n})
temp_male

[{'체중': 40, '비율': 0.1},
 {'체중': 45, '비율': 0.77},
 {'체중': 50, '비율': 2.98},
 {'체중': 55, '비율': 7.13},
 {'체중': 60, '비율': 13.17},
 {'체중': 65, '비율': 17.9},
 {'체중': 70, '비율': 18.84},
 {'체중': 75, '비율': 15.15},
 {'체중': 80, '비율': 10.39},
 {'체중': 85, '비율': 6.16},
 {'체중': 90, '비율': 3.49},
 {'체중': 95, '비율': 1.91},
 {'체중': 100, '비율': 1.02},
 {'체중': 105, '비율': 0.51},
 {'체중': 110, '비율': 0.26},
 {'체중': 115, '비율': 0.12},
 {'체중': 120, '비율': 0.06},
 {'체중': 125, '비율': 0.02},
 {'체중': 130, '비율': 0.01},
 {'체중': 135, '비율': 0.0}]

In [ ]:
def age_gen(a) :
       if str(a)[-1] == '1':
              return '남성', 123 - int(str(a)[:2]) 
       elif str(a)[-1] == '2':
              return '여성', 123 - int(str(a)[:2])

In [ ]:
age_gen(9601091)[0]

'남성'

In [ ]:
str(9601091)[-1]

'1'

In [ ]:
age_gen(9601091)[0]

'남성'

#### 평균 신장대 구하기

In [9]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [10]:
df_height_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['신장(5Cm단위)'].sum().round(1)
df_height_2018=pd.DataFrame(df_height_2018)
df_height_2018.head(3)

                  신장(5Cm단위)
연령대코드(5세단위) 성별코드
5           1       1646780
            2       1865125
6           1       6108590

In [20]:
# 각연령대 인원
df_age_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['연령대코드(5세단위)'].count().round(1)
df_age_2018=pd.DataFrame(df_age_2018)
df_age_2018.head(2)

                  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1            9619
            2           11732

In [21]:
df_last = pd.concat([df_height_2018,df_age_2018], axis=1)
df_last.head(2)

                  신장(5Cm단위)  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1       1646780         9619
            2       1865125        11732

In [22]:
last=(df_last['신장(5Cm단위)']/df_last['연령대코드(5세단위)']).round(2)
df_last['평균 신장'] =last
df_last.head(3)

                  신장(5Cm단위)  연령대코드(5세단위)   평균 신장
연령대코드(5세단위) 성별코드
5           1       1646780         9619  171.20
            2       1865125        11732  158.98
6           1       6108590        35523  171.96

In [38]:
filtered_data = df_last[df_last['성별코드'] == 2]['평균 신장'].values
list =[]
for height in filtered_data:
    list.append(height)
print(list)

[158.98, 159.52, 159.37, 159.0, 157.95, 156.62, 155.17, 153.98, 152.7, 151.25, 150.21, 148.21, 146.35, 144.49]

In [39]:
# index값 넣기
male_age = [ '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
'60~64세', '65~69세', '70~74세', '75~79세','80~84세', '85세+']
male_pct = [158.98, 159.52, 159.37, 159.0, 157.95, 156.62, 155.17, 153.98, 152.7, 151.25, 150.21, 148.21, 146.35, 144.49]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'나이': m, '평균키': n})
temp_male

[{'나이': '20~24세', '평균키': 158.98},
 {'나이': '25~29세', '평균키': 159.52},
 {'나이': '30~34세', '평균키': 159.37},
 {'나이': '35~39세', '평균키': 159.0},
 {'나이': '40~44세', '평균키': 157.95},
 {'나이': '45~49세', '평균키': 156.62},
 {'나이': '50~54세', '평균키': 155.17},
 {'나이': '55~59세', '평균키': 153.98},
 {'나이': '60~64세', '평균키': 152.7},
 {'나이': '65~69세', '평균키': 151.25},
 {'나이': '70~74세', '평균키': 150.21},
 {'나이': '75~79세', '평균키': 148.21},
 {'나이': '80~84세', '평균키': 146.35},
 {'나이': '85세+', '평균키': 144.49}]