In [29]:
import numpy as np 
import pandas as pd

In [30]:
a = 32
b = 1
for i, j in zip(np.arange(20, 100, 5), np.arange(24, 104, 5)):
    if i <= a <= j:
        print(b)
    else:
        b = b + 1

3

In [31]:
{'연령대': 1}['연령대']

1

In [32]:
df_2018 = pd.read_csv('../data/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [33]:
np.set_printoptions(precision=6, suppress=True)

In [55]:
# 신장을 구하고싶은 걸 넣기
male = df_2018['체중(5Kg단위)'][df_2018.성별코드==1].value_counts().sum()
female = df_2018['체중(5Kg단위)'][df_2018.성별코드 == 2].value_counts().sum()
male,female

(535600, 464400)

In [64]:
male = (df_2018['체중(5Kg단위)'][df_2018.성별코드==1].value_counts().sort_index() / 5356).round(2).values

female = (df_2018['체중(5Kg단위)'][df_2018.성별코드 == 2].value_counts().sort_index() / 4640.14).round(2)
male

array([ 0.1 ,  0.77,  2.98,  7.13, 13.17, 17.9 , 18.84, 15.15, 10.39,
        6.16,  3.49,  1.91,  1.02,  0.51,  0.26,  0.12,  0.06,  0.02,
        0.01,  0.  ])

In [63]:
male.index

Index([ 40,  45,  50,  55,  60,  65,  70,  75,  80,  85,  90,  95, 100, 105,
       110, 115, 120, 125, 130, 135],
      dtype='int64', name='체중(5Kg단위)')

In [65]:
# index값 넣기
male_age = [ 40,  45,  50,  55,  60,  65,  70,  75,  80,  85,  90,  95, 100, 105,
       110, 115, 120, 125, 130, 135]
male_pct = [ 0.1 ,  0.77,  2.98,  7.13, 13.17, 17.9 , 18.84, 15.15, 10.39,
        6.16,  3.49,  1.91,  1.02,  0.51,  0.26,  0.12,  0.06,  0.02,
        0.01,  0.00    ]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'체중': m, '비율': n})
temp_male

[{'체중': 40, '비율': 0.1},
 {'체중': 45, '비율': 0.77},
 {'체중': 50, '비율': 2.98},
 {'체중': 55, '비율': 7.13},
 {'체중': 60, '비율': 13.17},
 {'체중': 65, '비율': 17.9},
 {'체중': 70, '비율': 18.84},
 {'체중': 75, '비율': 15.15},
 {'체중': 80, '비율': 10.39},
 {'체중': 85, '비율': 6.16},
 {'체중': 90, '비율': 3.49},
 {'체중': 95, '비율': 1.91},
 {'체중': 100, '비율': 1.02},
 {'체중': 105, '비율': 0.51},
 {'체중': 110, '비율': 0.26},
 {'체중': 115, '비율': 0.12},
 {'체중': 120, '비율': 0.06},
 {'체중': 125, '비율': 0.02},
 {'체중': 130, '비율': 0.01},
 {'체중': 135, '비율': 0.0}]

In [ ]:
def age_gen(a) :
       if str(a)[-1] == '1':
              return '남성', 123 - int(str(a)[:2]) 
       elif str(a)[-1] == '2':
              return '여성', 123 - int(str(a)[:2])

In [ ]:
age_gen(9601091)[0]

'남성'

In [ ]:
str(9601091)[-1]

'1'

In [ ]:
age_gen(9601091)[0]

'남성'