In [1]:
import numpy as np 
import pandas as pd
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [2]:
np.set_printoptions(precision=6, suppress=True)

In [3]:
male = (df_2018['청력(우)'].value_counts().sort_index() / 10000).round(2)
male

청력(우)
1.0    96.74
2.0     3.23
Name: count, dtype: float64

In [4]:
male.index

Index([1.0, 2.0], dtype='float64', name='청력(우)')

In [5]:
# index값 넣기

male_age = ['정상','비정상']
male_pct = [96.74,3.23 ]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'청력_우': m, '비율': n})
temp_male

[{'청력_우': '정상', '비율': 96.74}, {'청력_우': '비정상', '비율': 3.23}]

#### 비정상 청력 비율

In [6]:
# 각연령대 인원
df_age_2018=df_2018.groupby(['연령대코드(5세단위)'])['연령대코드(5세단위)'].count().round(1)
df_age_2018=pd.DataFrame(df_age_2018)
df_age_2018.head(2)

             연령대코드(5세단위)
연령대코드(5세단위)
5                  21351
6                  65400

In [32]:
df_sound_2018 = df_2018[df_2018['청력(좌)'] == 2].groupby(['연령대코드(5세단위)']).size().reset_index(name='비정상 청력 인원 수')
df_sound_2018 = pd.DataFrame(df_sound_2018)
df_sound_2018.set_index('연령대코드(5세단위)',inplace=True)

In [33]:
df_last =pd.concat([df_age_2018,df_sound_2018],axis=1)
df_last

             연령대코드(5세단위)  비정상 청력 인원 수
연령대코드(5세단위)
5                  21351           61
6                  65400          119
7                  77543          251
8                  87065          372
9                 122442          863
10                115355         1261
11                131524         2372
12                111391         3385
13                107438         5169
14                 58370         4262
15                 53083         6218
16                 28252         4711
17                 16990         3580
18                  3796         1060

In [34]:
df_last.reset_index(inplace=True)

ValueError: cannot insert 연령대코드(5세단위), already exists

In [35]:
last=((df_last['비정상 청력 인원 수']/df_last['연령대코드(5세단위)'])*100).round(2)
df_last['비정상 청력 비율'] =last
df_last.head(3)

             연령대코드(5세단위)  비정상 청력 인원 수  비정상 청력 비율
연령대코드(5세단위)
5                  21351           61       0.29
6                  65400          119       0.18
7                  77543          251       0.32

In [36]:
df_last['비정상 청력 비율'].values

array([ 0.29,  0.18,  0.32,  0.43,  0.7 ,  1.09,  1.8 ,  3.04,  4.81,
        7.3 , 11.71, 16.67, 21.07, 27.92])

In [37]:
male_age = [ '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
'60~64세', '65~69세', '70~74세', '75~79세','80~84세', '85세+']
male_pct =[ 0.29,  0.18,  0.32,  0.43,  0.7 ,  1.09,  1.8 ,  3.04,  4.81,
        7.3 , 11.71, 16.67, 21.07, 27.92]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'나이': m, '비정상 청력 비율': n})
temp_male

[{'나이': '20~24세', '비정상 청력 비율': 0.29},
 {'나이': '25~29세', '비정상 청력 비율': 0.18},
 {'나이': '30~34세', '비정상 청력 비율': 0.32},
 {'나이': '35~39세', '비정상 청력 비율': 0.43},
 {'나이': '40~44세', '비정상 청력 비율': 0.7},
 {'나이': '45~49세', '비정상 청력 비율': 1.09},
 {'나이': '50~54세', '비정상 청력 비율': 1.8},
 {'나이': '55~59세', '비정상 청력 비율': 3.04},
 {'나이': '60~64세', '비정상 청력 비율': 4.81},
 {'나이': '65~69세', '비정상 청력 비율': 7.3},
 {'나이': '70~74세', '비정상 청력 비율': 11.71},
 {'나이': '75~79세', '비정상 청력 비율': 16.67},
 {'나이': '80~84세', '비정상 청력 비율': 21.07},
 {'나이': '85세+', '비정상 청력 비율': 27.92}]