In [48]:
import numpy as np 
import pandas as pd

In [72]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [50]:
df_2018.columns

Index(['기준년도', '가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)',
       '체중(5Kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')

In [51]:
z=1
waist = [88]
waist_ranges = [60, 65, 70, 75, 80, 85, 90, 95, 100]

waist_counts = [0] * len(waist_ranges)  # 허리둘레 범위별 개수를 저장할 리스트 초기화

for waist in waist:
    for i, range_value in enumerate(waist_ranges):
        if waist < range_value:
            waist_counts[i] += 1
            break

total_count = sum(waist_counts)  # 전체 데이터 개수 계산

waist_percentages = [count / total_count * 100 for count in waist_counts]  # 비율 계산

# 허리둘레 범위 출력
for i, range_value in enumerate(waist_ranges):
    print(f"허리둘레 {range_value}미만: {waist_percentages[i]:.1f}%")
print(f"허리둘레 100이상: {waist_percentages[-1]:.1f}%")

# 연령대 상위 백분율 계산
cumulative_percentage = 0
age_group_percentage = 33  # 연령대 상위 백분율

for i, percentage in enumerate(waist_percentages):
    cumulative_percentage += percentage
    if cumulative_percentage >= age_group_percentage:
        age_group_range = f"{waist_ranges[i-1]}미만" if i > 0 else "60미만"
        z += z

print(f"당신의 허리둘레는 연령대 상위({age_group_percentage}%) 입니다.")
print(f"당신은 복부비만{'입니다.' if waist >= 90 else '이 아닙니다.'}")

허리둘레 60미만: 0.0%
허리둘레 65미만: 0.0%
허리둘레 70미만: 0.0%
허리둘레 75미만: 0.0%
허리둘레 80미만: 0.0%
허리둘레 85미만: 0.0%
허리둘레 90미만: 100.0%
허리둘레 95미만: 0.0%
허리둘레 100미만: 0.0%
허리둘레 100이상: 0.0%
당신의 허리둘레는 연령대 상위(33%) 입니다.
당신은 복부비만이 아닙니다.

In [52]:
# index값 넣기
male_age = [ 40,  45,  50,  55,  60,  65,  70,  75,  80,  85,  90,  95, 100, 105,
       110, 115, 120, 125, 130, 135]
male_pct = [ 0.1 ,  0.77,  2.98,  7.13, 13.17, 17.9 , 18.84, 15.15, 10.39,
        6.16,  3.49,  1.91,  1.02,  0.51,  0.26,  0.12,  0.06,  0.02,
        0.01,  0.00    ]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'체중': m, '비율': n})
temp_male

[{'체중': 40, '비율': 0.1},
 {'체중': 45, '비율': 0.77},
 {'체중': 50, '비율': 2.98},
 {'체중': 55, '비율': 7.13},
 {'체중': 60, '비율': 13.17},
 {'체중': 65, '비율': 17.9},
 {'체중': 70, '비율': 18.84},
 {'체중': 75, '비율': 15.15},
 {'체중': 80, '비율': 10.39},
 {'체중': 85, '비율': 6.16},
 {'체중': 90, '비율': 3.49},
 {'체중': 95, '비율': 1.91},
 {'체중': 100, '비율': 1.02},
 {'체중': 105, '비율': 0.51},
 {'체중': 110, '비율': 0.26},
 {'체중': 115, '비율': 0.12},
 {'체중': 120, '비율': 0.06},
 {'체중': 125, '비율': 0.02},
 {'체중': 130, '비율': 0.01},
 {'체중': 135, '비율': 0.0}]

In [53]:
def weight_cal(x, y):       # x이상 y미만
    if y == 60:
        return df_2018[(df_2018['허리둘레'] < y)].groupby('성별코드')['허리둘레'].count()
    elif x != 100 and y != 60:
        return df_2018[(df_2018['허리둘레'] < y) & (df_2018['허리둘레'] >= x)].groupby('성별코드')['허리둘레'].count()
    elif x == 100:
        return df_2018[(df_2018['허리둘레'] >= x)].groupby('성별코드')['허리둘레'].count()

temp = pd.DataFrame()
for x, y in zip(np.arange(55, 101, 5), np.arange(60, 106 ,5)):
    temp = pd.concat([temp, weight_cal(x, y).to_frame()], axis=1)
temp.columns = ['60미만', '60이상 65미만', '65이상 70미만', '70이상 75미만', '75이상 80미만', '80이상 85미만', '85이상 90미만', '90이상 95미만',
                '95이상 100미만', '100이상']

In [54]:
temp.iloc[1, 0] = 0
temp.T

성별코드             1      2
60미만           136      0
60이상 65미만     1727  29483
65이상 70미만    10130  69769
70이상 75미만    35404  96447
75이상 80미만    78816  93417
80이상 85미만   129975  78214
85이상 90미만   126769  48607
90이상 95미만    84197  25628
95이상 100미만   41703  11194
100이상        26715   6535

In [55]:
import pandas as pd
import numpy as np

def 허리둘레_cal(x, y):
    if y == 60:
        return df_2018[(df_2018['허리둘레'] < y)&(df_2018['성별코드']==2)]['허리둘레'].count()
    elif x != 100 and y != 60:
        return df_2018[(df_2018['허리둘레'] < y)&(df_2018['성별코드']==2) & (df_2018['허리둘레'] >= x)]['허리둘레'].count()
    elif x == 100:
        return df_2018[(df_2018['허리둘레'] >= x)&(df_2018['성별코드']==2)]['허리둘레'].count()

# temp = pd.DataFrame()
for x, y in zip([0 , *np.arange(60, 101, 5)], [*np.arange(60, 101, 5), 10000]):
   temp = pd.concat([temp, pd.DataFrame({'범위': f'{x}-{y}', '개수': 허리둘레_cal(x, y)}, index=[0])], ignore_index=True)

total_count = temp['개수'].sum()
temp['비율'] = (temp['개수'] / total_count) * 100
temp = temp.round(2)

print(temp)

     60미만  60이상 65미만  65이상 70미만  70이상 75미만  75이상 80미만  80이상 85미만  85이상 90미만
0   136.0     1727.0    10130.0    35404.0    78816.0   129975.0   126769.0  \
1     0.0    29483.0    69769.0    96447.0    93417.0    78214.0    48607.0
2     NaN        NaN        NaN        NaN        NaN        NaN        NaN
3     NaN        NaN        NaN        NaN        NaN        NaN        NaN
4     NaN        NaN        NaN        NaN        NaN        NaN        NaN
5     NaN        NaN        NaN        NaN        NaN        NaN        NaN
6     NaN        NaN        NaN        NaN        NaN        NaN        NaN
7     NaN        NaN        NaN        NaN        NaN        NaN        NaN
8     NaN        NaN        NaN        NaN        NaN        NaN        NaN
9     NaN        NaN        NaN        NaN        NaN        NaN        NaN
10    NaN        NaN        NaN        NaN        NaN        NaN        NaN
11    NaN        NaN        NaN        NaN        NaN        NaN        NaN

    90이상 95미만  95이상 100미만    100이상         범위       개수     비율
0     84197.0     41703.0  26715.0        NaN      NaN    NaN
1     25628.0     11194.0   6535.0        NaN      NaN    NaN
2         NaN         NaN      NaN       0-60   4720.0   1.02
3         NaN         NaN      NaN      60-65  29483.0   6.35
4         NaN         NaN      NaN      65-70  69769.0  15.04
5         NaN         NaN      NaN      70-75  96447.0  20.79
6         NaN         NaN      NaN      75-80  93417.0  20.13
7         NaN         NaN      NaN      80-85  78214.0  16.86
8         NaN         NaN      NaN      85-90  48607.0  10.48
9         NaN         NaN      NaN      90-95  25628.0   5.52
10        NaN         NaN      NaN     95-100  11194.0   2.41
11        NaN         NaN      NaN  100-10000   6535.0   1.41

In [58]:
male=temp['비율'].value_counts()
male.index

Index([1.02, 6.35, 15.04, 20.79, 20.13, 16.86, 10.48, 5.52, 2.41, 1.41], dtype='float64', name='비율')

In [59]:
# index값 넣기
male_age = ['0-60', '60-65', '65-70', '70-75', '75-80', '80-85', '85-90', '90-95',
       '95-100', '100-10000']
male_pct = [1.02, 6.35, 15.04, 20.79, 20.13, 16.86, 10.48, 5.52, 2.41, 1.41]
temp_male = [] 
for m, n in zip(male_age, male_pct):
    temp_male.append({'waist': m, '비율': n})
temp_male

[{'waist': '0-60', '비율': 1.02},
 {'waist': '60-65', '비율': 6.35},
 {'waist': '65-70', '비율': 15.04},
 {'waist': '70-75', '비율': 20.79},
 {'waist': '75-80', '비율': 20.13},
 {'waist': '80-85', '비율': 16.86},
 {'waist': '85-90', '비율': 10.48},
 {'waist': '90-95', '비율': 5.52},
 {'waist': '95-100', '비율': 2.41},
 {'waist': '100-10000', '비율': 1.41}]

- 평균 허리둘레 구하기

In [60]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [61]:
df_BMI_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['허리둘레'].sum().round(1)
df_BMI_2018=pd.DataFrame(df_BMI_2018)
df_BMI_2018.head(3)

                       허리둘레
연령대코드(5세단위) 성별코드
5           1      772725.0
            2      828988.3
6           1     2963508.7

In [62]:
# 각연령대 인원
df_age_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['연령대코드(5세단위)'].count().round(1)
df_age_2018=pd.DataFrame(df_age_2018)
df_age_2018.head(2)

                  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1            9619
            2           11732

In [63]:
df_last = pd.concat([df_BMI_2018,df_age_2018], axis=1)
df_last.head(2)

                      허리둘레  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1     772725.0         9619
            2     828988.3        11732

In [65]:
df_last.reset_index(inplace=True)

ValueError: cannot insert 연령대코드(5세단위), already exists

In [67]:
last=(df_last['허리둘레']/df_last['연령대코드(5세단위)']).round(2)
df_last['평균 허리둘레'] =last
df_last.head(3)

                  성별코드       허리둘레  연령대코드(5세단위)  평균 허리둘레
연령대코드(5세단위) 성별코드
5           1        1   772725.0         9619    80.33
            2        2   828988.3        11732    70.66
6           1        1  2963508.7        35523    83.43

In [70]:
filtered_data = df_last[df_last['성별코드'] == 1]['평균 허리둘레'].values
list =[]
for height in filtered_data:
    list.append(height)
print(list)

[80.33, 83.43, 85.49, 86.09, 85.76, 85.44, 85.3, 85.28, 85.64, 85.75, 86.03, 85.83, 85.24, 83.59]

In [71]:
male_age = [ '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
'60~64세', '65~69세', '70~74세', '75~79세','80~84세', '85세+']
male_pct = [80.33, 83.43, 85.49, 86.09, 85.76, 85.44, 85.3, 85.28, 85.64, 85.75, 86.03, 85.83, 85.24, 83.59]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'나이': m, '평균허리둘레': n})
temp_male

[{'나이': '20~24세', '평균허리둘레': 80.33},
 {'나이': '25~29세', '평균허리둘레': 83.43},
 {'나이': '30~34세', '평균허리둘레': 85.49},
 {'나이': '35~39세', '평균허리둘레': 86.09},
 {'나이': '40~44세', '평균허리둘레': 85.76},
 {'나이': '45~49세', '평균허리둘레': 85.44},
 {'나이': '50~54세', '평균허리둘레': 85.3},
 {'나이': '55~59세', '평균허리둘레': 85.28},
 {'나이': '60~64세', '평균허리둘레': 85.64},
 {'나이': '65~69세', '평균허리둘레': 85.75},
 {'나이': '70~74세', '평균허리둘레': 86.03},
 {'나이': '75~79세', '평균허리둘레': 85.83},
 {'나이': '80~84세', '평균허리둘레': 85.24},
 {'나이': '85세+', '평균허리둘레': 83.59}]