In [2]:
import numpy as np 
import pandas as pd

In [3]:
df_2018 = pd.read_csv('../01.웹/data_건강/건강검진정보_2018.csv', encoding='euc-kr')
df_2018.head(2)

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN,NaN,2019-12-19
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,47.0,1.0,Y,Y,0.0,NaN,NaN,NaN,N,2019-12-19

In [7]:
df_weight_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['체중(5Kg단위)'].sum().round(1)
df_weight_2018=pd.DataFrame(df_weight_2018)
df_weight_2018.head(3)

                  체중(5Kg단위)
연령대코드(5세단위) 성별코드
5           1        671630
            2        638530
6           1       2599395

In [8]:
# 각연령대 인원
df_age_2018=df_2018.groupby(['연령대코드(5세단위)','성별코드'])['연령대코드(5세단위)'].count().round(1)
df_age_2018=pd.DataFrame(df_age_2018)
df_age_2018.head(2)

                  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1            9619
            2           11732

In [9]:
df_last = pd.concat([df_weight_2018,df_age_2018], axis=1)
df_last.head(2)

                  체중(5Kg단위)  연령대코드(5세단위)
연령대코드(5세단위) 성별코드
5           1        671630         9619
            2        638530        11732

In [10]:
last=(df_last['체중(5Kg단위)']/df_last['연령대코드(5세단위)']).round(2)
df_last['평균 체중'] =last
df_last.head(3)

                  체중(5Kg단위)  연령대코드(5세단위)  평균 체중
연령대코드(5세단위) 성별코드
5           1        671630         9619  69.82
            2        638530        11732  54.43
6           1       2599395        35523  73.17

In [12]:
df_last.reset_index(inplace=True)

ValueError: cannot insert 연령대코드(5세단위), already exists

In [16]:
filtered_data = df_last[df_last['성별코드'] == 2]['평균 체중'].values
list =[]
for height in filtered_data:
    list.append(height)
print(list)

[54.43, 54.43, 55.4, 56.09, 56.43, 56.43, 56.32, 55.95, 56.0, 55.67, 55.06, 53.1, 50.84, 46.41]

In [17]:

male_age = [ '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세', '50~54세', '55~59세',
'60~64세', '65~69세', '70~74세', '75~79세','80~84세', '85세+']
male_pct = [54.43, 54.43, 55.4, 56.09, 56.43, 56.43, 56.32, 55.95, 56.0, 55.67, 55.06, 53.1, 50.84, 46.41]
temp_male = []
for m, n in zip(male_age, male_pct):
    temp_male.append({'나이': m, '평균 체중': n})
temp_male

[{'나이': '20~24세', '평균 체중': 54.43},
 {'나이': '25~29세', '평균 체중': 54.43},
 {'나이': '30~34세', '평균 체중': 55.4},
 {'나이': '35~39세', '평균 체중': 56.09},
 {'나이': '40~44세', '평균 체중': 56.43},
 {'나이': '45~49세', '평균 체중': 56.43},
 {'나이': '50~54세', '평균 체중': 56.32},
 {'나이': '55~59세', '평균 체중': 55.95},
 {'나이': '60~64세', '평균 체중': 56.0},
 {'나이': '65~69세', '평균 체중': 55.67},
 {'나이': '70~74세', '평균 체중': 55.06},
 {'나이': '75~79세', '평균 체중': 53.1},
 {'나이': '80~84세', '평균 체중': 50.84},
 {'나이': '85세+', '평균 체중': 46.41}]