### 영화 추천 시스템  -Ver.2
- 영화 줄거리,감독,주연배우

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
movie =pd.read_csv('data/movies_metadata.csv',low_memory=False)
info =pd.read_csv('data/credits.csv')
info.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

##### 1. 데이터 전처리 - movie 와 info 데이터 병합

In [4]:
df =movie[['title','overview','id']]
df.head()

,title,overview,id
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,11862

In [5]:
# 결측치 제거
df.dropna(how='any', inplace=True)

# 중복 데이터 제거
df.drop_duplicates(subset=['title'], inplace=True)
df.shape

(41371, 3)

In [6]:
df.id =df.id.astype(int)
info.id =info.id.astype(int)
df =pd.merge(df,info)
df.head(2)

,title,overview,id,cast,crew
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,Jumanji,When siblings Judy and Peter discover an encha...,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."